<section class="author">
    <h3>Over {{primary_author.name}}</h3>
    <img src="{{primary_author.profile_image}}" alt="{{primary_author.name}}">
    <p class="author-bio">{{{primary_author.bio}}}</p>
</section>
