<footer class="main-footer">
    <img src="{{@blog.logo}}" alt="{{@blog.name}}">
    <p>I use Piwik analytics to track visitors. This analytics package respects your DoNotTrack settings and will not track you if you have it enabled. I also anonymize IP addresses in stored data.</p>
    <p>This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">theme</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>
    <p>My content is copyrighted by me forever.</p>
</footer>