{{!< default }}

<main class="uber_main" role="main">

    {{#post}}

    <article class="uber_article {{post_class}}" role="article" itemscope itemtype="http://schema.org/Article">

        <header class="uber_postheader">
            <h1 class="uber_posttitle" itemprop="headline">
                {{title}}
            </h1>
        </header>

        <main class="uber_postcontent" itemprop="articleBody">
            {{content}}
        </main>

        </footer>
        {{/if}}

    </article>

    {{/post}}

</main>